<!DOCTYPE html>
<html>
<head>
	<title>Dave Grant - Part Designer, Part Developer</title>
	<link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Dave Grant", root_path, class: "name" %>
		<nav>
			<%= link_to "Articles", posts_path %>
			<%= link_to "Projects", projects_path %>
			<a href="contact.html">Contact</a>
		</nav>
		
	</header>
	<% if notice %>
		<p class="notice"><%= notice %></p>
		<% elsif alert %>
			<p class="alert"><%= alert %></p>
		<% end %>
	
	<%= yield %>

	<footer id= "main-footer">
		<p class="copyright">&copy; 2015 Dave Grant</p>
		<nav>
			<a href="https://twitter.com/davegrant23" target="_blank"> <i class="fa fa-twitter"></i></a>
			<a href="https://github.com/shutdown23" target="_blank"><i class="fa fa-github"></i></a>
			<a href="#"><i class="fa fa-linkedin" target="_blank"></i></a>
		</nav>
	</footer>

</body>
</html>
